# Miscellaneous
.env
.env.*
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# SQLite databases (generated at runtime)
*.db
*.sqlite
*.sqlite3

# Specific project temporary files
*.txt
!requirements.txt
!CMakeLists.txt

# Keys and Keystores
*.keystore
*.jks
firebase-service-account-template.json
firebase-service-account.json
google-services.json

# Documentation
*.md
!/README.md
